.inner-link {
  font-weight: 700;
  font-size: 17px;
  line-height: 22.1px;
  color: #ed1c3b;
}
.contacts {
  width: 100%;
}
.contacts__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 99px;
}
@media screen and (max-width: 768px) {
  .contacts__wrapper {
    margin-top: 29px;
  }
}
@media screen and (max-width: 500px) {
  .contacts__wrapper {
    margin-top: 0;
  }
}
.contacts-title {
  margin-top: 35px;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 55px;
  line-height: 66px;
  color: #191a1b;
  text-transform: uppercase;
}
@media screen and (max-width: 1280px) {
  .contacts-title {
    font-size: 50px;
    line-height: 51px;
  }
}
@media screen and (max-width: 768px) {
  .contacts-title {
    font-size: 30px;
    line-height: 36px;
  }
}
@media screen and (max-width: 500px) {
  .contacts-title {
    margin-top: 16px;
    margin-bottom: 20px;
  }
}
.contacts__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media screen and (max-width: 833px) {
  .contacts__top {
    gap: 15px;
  }
}
@media screen and (max-width: 767px) {
  .contacts__top {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .contacts__top {
    flex-direction: column;
    gap: 5px;
  }
}
.contacts__top-left {
  flex-basis: 50%;
  background: #f8f8fb;
  border-radius: 20px;
  padding: 80px 90px;
  box-sizing: border-box;
}
@media screen and (max-width: 1425px) {
  .contacts__top-left {
    padding: 47px 50px;
  }
}
@media screen and (max-width: 1024px) {
  .contacts__top-left {
    height: 380px;
  }
}
@media screen and (max-width: 767px) {
  .contacts__top-left {
    padding: 25px 20px;
  }
}
.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
@media screen and (max-width: 1024px) {
  .contacts-list {
    gap: 28px;
  }
}
@media screen and (max-width: 500px) {
  .contacts-list {
    gap: 13px;
  }
}
.contacts-list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contacts-span {
  font-weight: 600;
  font-size: 18px;
  line-height: 22.5px;
  color: #a1a4a7;
  text-transform: uppercase;
}
@media screen and (max-width: 978px) {
  .contacts-span {
    font-size: 13px;
    line-height: 16.25px;
  }
}
.contacts-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  color: #191a1b;
  transition: all 0.3s ease-in-out;
}
.contact-hover:hover h2 {
  color: #51a8c3;
}
@media screen and (max-width: 1425px) {
  .contacts-subtitle {
    font-size: 32px;
    line-height: 43.75px;
  }
}
@media screen and (max-width: 890px) {
  .contacts-subtitle {
    font-size: 25px;
    line-height: 31.25px;
  }
}
@media screen and (max-width: 500px) {
  .contacts-subtitle {
    font-size: 23px;
    line-height: 27px;
  }
}
.contacts-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 1024px) {
  .contacts-item {
    align-items: baseline;
  }
}
@media screen and (max-width: 500px) {
  .contacts-item {
    gap: 5px;
  }
}
.contacts-paragraph {
  font-family: "Mont";
  font-weight: 700;
  font-size: 23px;
  line-height: 28.75px;
  color: #191a1b;
}
@media screen and (max-width: 978px) {
  .contacts-paragraph {
    font-size: 17px;
    line-height: 21.25px;
  }
}
/****map-wrapper****/
.map-wrapper {
  width: 50%;
  border-radius: 20px;
}
@media screen and (max-width: 767px) {
  .map-wrapper {
    width: 100%;
  }
}
.map-wrapper iframe {
  width: 100%;
  height: 435px;
  border-radius: inherit;
}
@media screen and (max-width: 1024px) {
  .map-wrapper iframe {
    height: 380px;
  }
}
@media screen and (max-width: 500px) {
  .map-wrapper iframe {
    height: 400px;
  }
}
.contacts__slide {
  width: 50%;
}
@media screen and (max-width: 767px) {
  .contacts__slide {
    width: 100%;
    height: 280px;
  }
}

.contacts__inner {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-bottom: 207px;
}
@media screen and (max-width: 1280px) {
  .contacts__inner {
    gap: 70px;
    margin-bottom: 156px;
  }
}
@media screen and (max-width: 768px) {
  .contacts__inner {
    gap: 40px;
    margin-bottom: 80px;
  }
}
.contacts__down-right {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
@media screen and (max-width: 500px) {
  .contacts__down-right {
    gap: 15px;
  }
}
.contacts__down-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #f8f8fb;
  border-radius: 20px;
  padding: 60px 90px;
  box-sizing: border-box;
}
.contacts__down {
  border-radius: 20px;
}
.contact_slider {
  width: 50%;

  border-radius: 20px;
}
@media screen and (max-width: 1365px) {
  .contact_slider {
    height: 440px;
  }
}
@media screen and (max-width: 980px) {
  .contact_slider {
    height: 380px;
  }
}
@media screen and (max-width: 767px) {
  .contact_slider {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .contact_slider {
    height: 280px;
  }
}
@media screen and (max-width: 767px) {
  .contacts__down {
    flex-direction: column-reverse;
    gap: 15px;
  }
}
@media screen and (max-width: 1456px) {
  .contacts__down-item {
    padding: 50px 50px;
  }
}
@media screen and (max-width: 835px) {
  .contacts__down-item {
    padding: 50px 30px;
  }
}
@media screen and (max-width: 500px) {
  .contacts__down-item {
    padding: 19px 20px;
  }
}
@media screen and (max-width: 1024px) {
  .contacts__down-item .contacts__icon {
    width: 70px;
    height: 70px;
  }
  .contacts__icon {
    align-self: end;
  }
}
@media screen and (max-width: 500px) {
  .contacts__down-item .contacts__icon {
    width: 40px;
    height: 40px;
  }
}
.contact__footer-grid {
  margin-top: 126px;
}
@media screen and (max-width: 1024px) {
  .contact__footer-grid {
    margin-top: 85px;
  }
}
@media screen and (max-width: 500px) {
  .contact__footer-grid {
    margin-top: 35px;
  }
  .swiper-slide img {
    height: 280px;
    border-radius: 20px !important;
  }
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 20px !important;
}
